* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
:root {
  --font-family: "Poppins", sans-serif;
  --font-weight-01: 500;
  --font-weight-02: 700;
  --primary-color: rgba(184, 142, 47, 1);
}

/* header part start  */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 55px;
  align-items: center;
}
.navbar-logo img {
  width: 120px;
}

.navbar-links {
  margin: 0 auto;
}
.navbar-links-area ul {
  display: flex;
  list-style: none;
  gap: 60px;
  align-items: center;
}

.navbar-links-area ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-size: 1rem;
  font-family: var(--font-family);
}

.navbar-icon {
  display: flex;
  gap: 30px;
}

.navbar-icon img {
  width: 18px;
}
.menu-icon {
  display: none;
}
/* header part end  */

/* hero part start  */
.hero {
  position: relative;
}
.hero-area {
  overflow: hidden;
}
.hero-img img {
    width: 100%;
  }
.hero-content {
  background-color: rgba(255, 243, 227, 1);
  padding: 60px 35px 30px 30px;
  width: 40rem;
  height: 26rem;
  position: absolute;
  z-index: 1;
  top: 9rem;
  left: 45rem;
}

.hero-secondary-heading {
  font-weight: 500;
  letter-spacing: 2px;
  color: rgba(51, 51, 51, 1);
}

.hero-primary-heading {
  color: var(--primary-color);
  font-size: 3.3rem;
  line-height: 65px;
  width: 29rem;
  font-weight: 700;
  padding-bottom: 10px;
}

.hero-pera {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
  padding-bottom: 35px;
}

.primary-btn {
  padding: 25px 70px;
  background-color: var(--primary-color);
  border: none;
  color: #ffff;
}
/* hero part end */

/* range part start  */
.range-content{
    text-align: center;
    padding: 50px 0px;
}

.range-heading{
    font-weight: 700;
    font-size: 2rem;
    color: rgba(51, 51, 51, 1);
}
.range-pera{
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    padding-bottom: 30px;
}
.range-carts{
    display: flex;
    justify-content: space-between;
    margin: 0rem 7.5rem;
    gap: 30px;
    border-radius: 0px;
}

.cart-heading{
    text-align: center;
    line-height: 60px;
    font-weight: 600;
    font-size: 1.3rem;
    color: rgba(51, 51, 51, 1);
}
/* range part end */












/* media queries  */
/* hero section start  */
@media screen and (max-width: 600px) {
  .navbar .navbar-logo {
    padding: 0px;
  }
  .navbar-links,
  .navbar-icon {
    display: none;
  }
  .menu-icon {
    display: inline-block;
  }

  .hero-content {
    background-color: rgba(255, 243, 227, 1);
    padding: 10px 20px 10px 20px;
    width: 12rem;
    height: 7.5rem;
    position: absolute;
    z-index: 1;
    top: 3rem;
    left: 13rem;
  }
  .hero-secondary-heading {
    font-weight: 400;
    font-size: 8px;
    letter-spacing: 2px;
    color: rgba(51, 51, 51, 1);
  }

  .hero-primary-heading {
    color: var(--primary-color);
    font-size: 1rem;
    line-height: 23px;
    width: 8rem;
    font-weight: 700;
    padding-bottom: 0px;
  }
  
  .hero-pera {
    font-size: 0.3rem;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    padding-bottom: 5px;
  }
  
  .primary-btn {
    padding: 5px 10px;
    background-color: var(--primary-color);
    border: none;
    color: #ffff;
    font-size: 10px;
  }
}


/* hero section end */
