* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
:root {
  --font-family: "Poppins", sans-serif;
  --font-weight-01: 500;
  --font-weight-02: 700;
  --primary-color: rgba(184, 142, 47, 1);
}

/* header part start  */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 55px;
  align-items: center;
}
.navbar-logo img {
  width: 120px;
}

.navbar-links {
  margin: 0 auto;
}
.navbar-links-area ul {
  display: flex;
  list-style: none;
  gap: 60px;
  align-items: center;
}

.navbar-links-area ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-size: 1rem;
  font-family: var(--font-family);
}

.navbar-icon {
  display: flex;
  gap: 30px;
}

.navbar-icon img {
  width: 18px;
}
.menu-icon {
  display: none;
}
/* header part end  */

/* hero part start  */
.hero {
  position: relative;
}
.hero-area {
  overflow: hidden;
}
.hero-img img {
    width: 100%;
  }
.hero-content {
  background-color: rgba(255, 243, 227, 1);
  padding: 50px 35px 0px 30px;
  width: 38rem;
  height: 26rem;
  position: absolute;
  z-index: 1;
  top: 9rem;
  left: 39rem;
}

.hero-secondary-heading {
  font-weight: 500;
  letter-spacing: 2px;
  color: rgba(51, 51, 51, 1);
}

.hero-primary-heading {
  color: var(--primary-color);
  font-size: 3.3rem;
  line-height: 65px;
  width: 29rem;
  font-weight: 700;
  padding-bottom: 10px;
}

.hero-pera {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
  padding-bottom: 35px;
}

.primary-btn {
  padding: 25px 70px;
  background-color: var(--primary-color);
  border: none;
  color: #ffff;
}
/* hero part end */

/* range part start  */
.range-area{
    width: 100%;
}
.range{
    width: 80%;
    margin: 0 auto;
}
.range-content{
    text-align: center;
    padding: 50px 0px;
}

.range-heading{
    font-weight: 700;
    font-size: 2rem;
    color: rgba(51, 51, 51, 1);
}
.range-pera{
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    padding-bottom: 30px;
}

.range-cart{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-radius: 0px;
}

.cart-01 img,
.cart-02 img,
.cart-03 img{
    width: 100%;
}
.cart-heading{
    text-align: center;
    line-height: 60px;
    font-weight: 600;
    font-size: 1.3rem;
    color: rgba(51, 51, 51, 1);
}
/* range part end */

/* product area start  */

.product-heading{
    padding: 40px 0px 25px 0px;
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    color: rgba(58, 58, 58, 1);
  }
  .product-carts-area{
    width: 100%;
    height: 100vh;
  }
  .product-carts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0px;
  }
  .product-cart-01,
  .product-cart-02,
  .product-cart-03,
  .product-cart-04,
  .product-cart-05,
  .product-cart-06,
  .product-cart-07,
  .product-cart-08{
    background-color: rgba(244, 245, 247, 1);
  }
  .product-cart-01-content,
  .product-cart-02-content,
  .product-cart-03-content,
  .product-cart-04-content,
  .product-cart-05-content,
  .product-cart-06-content,
  .product-cart-07-content,
  .product-cart-08-content{
    padding: 16px 20px 20px 15px;
  }
  .product-cart-heading{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(58, 58, 58, 1);
  }
  .product-cart-pera{
    font-size: 1rem;
    font-weight: 500;
    color: rgba(137, 137, 137, 1);
    line-height: 40px;
  }
  .cart-price{
    display: flex;
    justify-content: space-between;
  }
  .cart-price-01{
    font-size: 1.25rem;
    font-weight: 600;
    color: rgba(58, 58, 58, 1);
  }
  .cart-price-02{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(176, 176, 176, 1);
  }
/* product area end */











/* media queries  */
/* mobail responsive  */
/* hero section start  */
@media screen and (max-width: 600px) {
  .navbar .navbar-logo {
    padding: 0px;
  }
  .navbar-links,
  .navbar-icon {
    display: none;
  }
  .menu-icon {
    display: inline-block;
  }

  .hero-content {
    background-color: rgba(255, 243, 227, 1);
    padding: 10px 20px 10px 20px;
    width: 12rem;
    height: 7.5rem;
    position: absolute;
    z-index: 1;
    top: 3rem;
    left: 13rem;
  }
  .hero-secondary-heading {
    font-weight: 400;
    font-size: 8px;
    letter-spacing: 2px;
    color: rgba(51, 51, 51, 1);
  }

  .hero-primary-heading {
    color: var(--primary-color);
    font-size: 1rem;
    line-height: 23px;
    width: 8rem;
    font-weight: 700;
    padding-bottom: 0px;
  }
  
  .hero-pera {
    font-size: 0.3rem;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    padding-bottom: 5px;
  }
  
  .primary-btn {
    padding: 5px 10px;
    background-color: var(--primary-color);
    border: none;
    color: #ffff;
    font-size: 10px;
  }

  /* range part start  */
  .range-content{
    text-align: center;
    padding: 20px 0px;
  }
  .range-heading{
    font-weight: 700;
    font-size: 1.5rem;
    color: rgba(51, 51, 51, 1);
}
.range-pera{
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    padding-bottom: 20px;
    width: 320px;
    margin: 0 auto;
}
.range-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.cart-01 img,
.cart-02 img,
.cart-03 img{
    /* width: 100%; */
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 300px;
}
  /* range part end */

  /* our product area start  */
  
  /* our product area end */
}

/* large device responsive */

/* hero section end */
